name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    # https://github.com/ruby/setup-ruby/issues/496
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: true
      matrix:
        ruby: [2.6, 2.7, '3.0', 3.1, 3.2, 3.3, head, jruby]
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile || 'Gemfile' }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby & run Bundler
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: Run specs
      run: bundle exec rake spec
